/* Text */
h1, h2, h3 , h4, h5, h6 {
    font-family: 'Anton', sans-serif;
}
p {
    font-family: 'Jura', sans-serif;
}

  /* Navigation bar */

  /* General */
.customNav {
    position: fixed;
    width: 100%;
    background: url("../images/transparency.png");
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
}
.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}
.navbar-brand img {
    padding-right: 15px;
    width: 65px;
}
.nav-item {
    margin: 0px 15px;
}

  /* Navigation dropdown menu */
.dropdown-menu {
    background: url("../images/transparency.png");
    background-color: transparent !important;
    background-size: cover;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background: black;
}

  /* Navigation links */
.customNav a {
    color: rgb(102, 31, 161) !important;
}
.navCTA {
    font-size: 15px;
}
/* Jumbotron  */
.background {
    background-image: url(../images/Hong-kong-view.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Jumbotron copy */
.jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: rgb(9, 2, 71);
    text-align: center;
}
#Aboutme{
    background-color:aquamarine;
    background-size: cover;
    height: auto;
    display: flex;

    justify-content: left;
    margin-bottom:50px;
}

.profilepic img{
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.profilepic .text{
    padding:100px
    display:flex;
    align-items: center;

}
.card >img{
    width:100%;
    height: 300px;
}