*
body{
    background: radial-gradient(circle at 10% 20%, rgba(91, 173, 254, 0.46) 0%, rgba(91, 224, 254, 0.46) 47.2%, rgba(170, 254, 235, 0.43) 90%);
}
/* Text */
h1, h2, h3 , h4, h5, h6 {
    font-family: 'Abril Fatface';
}
p {
    font-family: 'Jura', sans-serif;
}

  /* Navigation bar */

  /* General */
.customNav {
    position: fixed;
    width: 100%;
    background-color: #00204a;
    background-size: cover;
    z-index: 10;
    font-size: 20px;
}
.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;

    
}
#navbar{
    background: aqua;
}
.navbar-brand img {
 
    padding-right: 15px;
    width: 100%;
}
.nav-item {
    
    margin: 0px 30px;
    text-decoration:none;
    text-align: left;
}


  /* Navigation links */
.customNav a {
    
    color: rgb(31, 44, 161);
}
.navCTA {
    
    font-size: 20px;

}
/* Jumbotron  */
.background {
    background-image: url(../images/Hong-kong-view.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: #f3f2f5 solid 8px;
}

/* Jumbotron copy */
.jumboCopy {
    width: 100%;
    margin-top: 50px;
    min-height: 700px;
    
    color: #f3f2f5; 
    text-align: right;
}

.SkillsBackground{
    background-image: url(../images/skills2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: #f3f2f5 solid 8px;
}
.SkillsJumboCopy {
    width: 100%;
    margin-top: 450px;
    max-height: 700px;
    
    color: #220377; 
    text-align: left;
}
#Aboutme{
    background: #53a8b6; 
    width:100%; 
    text-align: center;
    padding:50px;
    border-bottom: #f3f2f5 solid 8px;
}

.profilepic {
    padding:50px;

    align-content:center;
    text-align:start;
    margin: 100px 200px 100px 100px;
    line-height: 1.5;
    font-size: 20px;

}
.Vickypic{
    border-right: #f5f3f8 dotted 8px ;
}

.work{
    padding-bottom: 50px;
    width:100%;
    min-height: 800px;
    
}
.card >img{
    padding:10px;
    width:100%;
    border-radius: 10%;
    
}
.card-img-top{
    clip: rect(0px, 80px, 800px, 0px);
}
.workexperience{
    padding:50px;
    border-radius: 100% 0% 0% 0%;
    display: flex;
    justify-content: space-between; 
    border-bottom: white solid 8px;  
    margin-bottom: 100px; 
}

.sectionHeading {
    margin-top:50px;
    margin-bottom: 50px;
}
.content >img{
    width:100%;
    min-height: 700px;
    
}
footer{
    border-top: solid 3px rgb(19, 18, 18);
    padding: 20px 0px;
    background-color: #00204a;
    color:aliceblue;
    
}
.sectionHeding >h5{
    font-size: 200px;
}
